.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-item {
    flex: 1 0 200px;
    margin-bottom: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
